venv/
.venv/
env/
.env
.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo
*.pyd
.vscode/
.idea/
.DS_Store
Thumbs.db.virtual_documents/
anaconda_projects/
__pycache__/
*.pyc
venv/
.DS_Store

.virtual_documents/
streamlit_app/data/prediction_history.csv
streamlit_app/**/__pycache__/
