# pandas
# numpy
# scikit-learn
# matplotlib
# seaborn
# openpyxl
# wandb
# groq 
# python-dotenv       

fastapi
uvicorn[standard]
streamlit
requests
pandas
numpy
scikit-learn
matplotlib
seaborn
openpyxl
joblib
python-dotenv
pydantic
SQLAlchemy
PyMySQL
python-multipart
pytest